<footer class="w3-container w3-padding-64 w3-center  w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <br>
  <style>
  </style>
  <img src="https://cdn.local.epitech.eu/userprofil/commentview/marie-aimee.fourtane.jpg"/>
  <img src="https://cdn.local.epitech.eu/userprofil/commentview/anatole.zeyen.jpg"/>
  <img src="https://cdn.local.epitech.eu/userprofil/commentview/theo-paul.bodin.jpg"/>
  <p class="w3-medium">Powered by Anatole & MArie-Aimée</p>
</footer>