<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
	<style>
		body {
			height: 100%;
		}

		.welcome {
			background-color: #0f2f2f;
			height: 1000px;
			width: 100%;
			margin: 0;
			text-align: center
		}
	</style>
</head>
<body class="container">
<main>
    <div class="welcome">
		<p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
	<% include ../partials/footer %>
</footer>

</body>
</html>