<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<style>
	body {
		height: 1000px;			
	}
	main {
		background-color: #0f2f2f;
		width: 100%;
		margin: 0;
		text-align: center
	}
	.btn {
		border: 2px solid black;
		background-color: white;
		color: black;
		padding: 14px 28px;
		font-size: 16px;
		cursor: pointer;
	}
	
	.success {
		border-color: #4CAF50;
		color: green;
	}
	
	.success:hover {
		background-color: #4CAF50;
		color: white;
	}		
</style>
</head>

<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
	<div class="welcome">
		<a href="../../routes/about">Welcome to templating using EJS</a>
	</div>
	
	<button class="btn success">Log in</button>
</main>

<footer>
	<% include ../partials/footer %>
</footer>

</body>
</html>